:root{
    --border : 1px solid green;
}

*{
    box-sizing: border-box;
}

html{
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
}

.d-none{
    display: none;
}

.time{
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    border-bottom: var(--border); 
    border-left: var(--border); 
    border-radius: 0 1em  0 100%;
    padding: 1em 1em 2em 2em ;
    font-size: 1.6em;
    font-weight: 900;
    display: none;
}

.game-panel{
    position: relative;
    border: var(--border);
    height: 50vh;
    width: 50vw;
}

#questionArea{
    display: grid;
}

.answers{
    display: grid;
}