:root{
    --border : 3px solid green;
}

*{
    box-sizing: border-box;
}

html{
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
}


.game-panel{
    border: var(--border);
    height: 60vh;
    width: 60vw;
    border-radius: 1em;
}

#questionArea{
    display: grid;
    gap: 1em;
}

#buttons{
    display: flex; 
    justify-content: center;
    gap: 1em;
}
input[type="radio"]:checked > label{
    background-color: dodgerblue;
}
.message{
    font-size: 1rem;
    font-weight: bolder;
}
